@tailwind base;
@tailwind components;
@tailwind utilities;

/* setting font family */
@layer base {
  @font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(./assets/fonts/Rubik-Regular.ttf) format('truetype');
  }
}

@layer base {
  @font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(./assets/fonts/Rubik-SemiBold.ttf) format('truetype');
  }
}

/* shortcut classes for tailwind animated */
@layer components {
  .hover-pulse {
    @apply hover:animate-pulse motion-reduce:animate-none;
  }
  .hover-jump {
    @apply hover:animate-jump motion-reduce:animate-none;
  }
  body{
    padding-bottom: 5rem;
  }

  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    outline: none;
    opacity: 0.7;
    background: linear-gradient(to right, #544686 40%, #d3d3d3 40%);
    transition: opacity 0.2s;
    border-radius: 5px;
  }
  
  .slider::-webkit-slider-runnable-track {
    height: 25px;
    background: linear-gradient(to right, #63B665 40%, #d3d3d3 40%);
    border-radius: 5px;
  }
  
  .slider::-moz-range-track {
    height: 25px;
    background: linear-gradient(to right, #63B665 40%, #d3d3d3 40%);
    border-radius: 5px;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 2.5px;
    height: 25px;
    background: #54AD56;
    cursor: pointer;
    /* border-radius: 50%; */
  }
  
  .slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #4CAF50;
    cursor: pointer;
    border-radius: 50%;
  }  
}

.react-datepicker__month-container {
  font-family: 'Rubik';
}

.react-datepicker .react-datepicker__header, 
.react-datepicker .react-datepicker__month-text--keyboard-selected{
  background-color: #544686;
  color: #FFFFFF;
}

/* .react-datepicker__input-container--selected {
  border: solid red 1px;
} */